{% extends 'layout.html' %}
{% block title %}Cadastro de Históricos{% endblock %}
{% block content %}
<div class="hero ">
    <div class="hero-body">
        <h1 class="title">Cadastro de Históricos</h1>
        <h2 class="subtitle">
            Os campos sinalizados com asterisco (*) são obrigatórios.
        </h2>

        <form method="post">


            {% if mensagem %}
            <div class="notification is-{{tipo_mensagem}}">
                <button class="delete"></button>
                {{mensagem}}
            </div>
            {% else %}

              <input type="hidden" name="items" id="items" />

              <div class="field">
                  <label class="label" for="id_veiculo">* Veículo:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="id_veiculo" name="id_veiculo" type="text" value="{{ model['id_veiculo'] }}" placeholder="Informe o veículo" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="id_cliente">* Cliente:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="id_cliente" name="id_cliente" type="text" value="{{ model['id_cliente'] }}" placeholder="Informe o cliente" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="id_tecnico"> Técnico:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="id_tecnico" name="id_tecnico" type="text" value="{{ model['id_tecnico'] }}" placeholder="Informe o técnico" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="numero_ordem"> Nº Ordem:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="numero_ordem" name="numero_ordem" type="text" value="{{ model['numero_ordem'] }}" placeholder="Informe o número da ordem" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="kilometragem">* Kilometragem:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="kilometragem" name="kilometragem" type="text" value="{{ model['vistoria']['kilometragem'] }}" placeholder="Informe a kilometragem" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="data">* Data:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="data" name="data" type="datetime-local" value="{{ model['data'] }}" placeholder="Informe a data" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="data">* Tipo:</label>
                  <p class="control has-icon has-icon-right">
                      <select id="tipo" name="tipo" class="input" >
                        {% for item in tupla_tipo_historico %}
                          <option value="{{ item[0] }}"
                          {{ 'selected="selected"' if (item[0] == model['tipo']) }}
                          >
                            {{ item[1] }}
                          </option>
                        {% endfor %}
                      </select>
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="observacao"> Observações:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="observacao" name="observacao" type="text" value="{{ model['observacao'] }}" placeholder="Informe as observações" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <style>
              @media only screen and (max-width: 760px),
              (min-device-width: 768px) and (max-device-width: 1024px)  {
                  #falhas.responsive-stacked-table.with-mobile-labels td:nth-of-type(2):before {
                      content: "Descrição:";
                  }
                  #falhas.responsive-stacked-table.with-mobile-labels td:nth-of-type(3):before {
                      content: "Ações:";
                  }
              }
              </style>
              <table id="falhas" class="table is-bordered is-striped is-narrow responsive-stacked-table with-mobile-labels with-headers">
                  <thead>
                      <tr>
                        <th colspan="1">Falhas</th>
                        <th>
                          <p class="control">
                            <a class="tag is-info" data-target="falha">
                                <i class="fa fa-plus"></i>
                                &nbsp;
                                Inserir
                            </a>
                          </p>
                        </th>
                      </tr>
                      <tr>
                          <th>Descrição</th>
                          <th>Ações</th>
                      </tr>
                  </thead>
                  <tbody class="dados-tabela-falha">
                  </tbody>
              </table>

              <style>
              @media only screen and (max-width: 760px),
              (min-device-width: 768px) and (max-device-width: 1024px)  {

                  #pecas.responsive-stacked-table.with-mobile-labels td:nth-of-type(2):before {
                      content: "Descrição:";
                  }
                  #pecas.responsive-stacked-table.with-mobile-labels td:nth-of-type(3):before {
                      content: "Qtd:";
                  }
                  #pecas.responsive-stacked-table.with-mobile-labels td:nth-of-type(4):before {
                      content: "Valor:";
                  }
                  #pecas.responsive-stacked-table.with-mobile-labels td:nth-of-type(5):before {
                      content: "Ações:";
                  }
              }
              </style>
              <table id="pecas" class="table is-bordered is-striped is-narrow responsive-stacked-table with-mobile-labels with-headers">
                  <thead>
                      <tr>
                        <th colspan="3">Peças</th>
                        <th>
                          <p class="control">
                            <a class="tag is-info" data-target="peca">
                                <i class="fa fa-plus"></i>
                                &nbsp;
                                Inserir
                            </a>
                          </p>
                        </th>
                      </tr>
                      <tr>
                          <th>Descrição</th>
                          <th>Qtd</th>
                          <th>Valor</th>
                          <th>Ações</th>
                      </tr>
                  </thead>
                  <tbody class="dados-tabela-peca">
                  </tbody>
              </table>

              <style>
              @media only screen and (max-width: 760px),
              (min-device-width: 768px) and (max-device-width: 1024px)  {

                  #servicos.responsive-stacked-table.with-mobile-labels td:nth-of-type(2):before {
                      content: "Descrição:";
                  }
                  #servicos.responsive-stacked-table.with-mobile-labels td:nth-of-type(3):before {
                      content: "Qtd:";
                  }
                  #servicos.responsive-stacked-table.with-mobile-labels td:nth-of-type(4):before {
                      content: "Valor:";
                  }
                  #servicos.responsive-stacked-table.with-mobile-labels td:nth-of-type(5):before {
                      content: "Ações:";
                  }
              }
              </style>
              <table id="servicos" class="table is-bordered is-striped is-narrow responsive-stacked-table with-mobile-labels with-headers">
                  <thead>
                      <tr>
                        <th colspan="3">Serviços</th>
                        <th>
                          <a class="tag is-info" data-target="servico">
                              <i class="fa fa-plus"></i>
                              &nbsp;
                              Inserir
                          </a>
                        </th>
                      </tr>
                      <tr>
                          <th>Descrição</th>
                          <th>Qtd</th>
                          <th>Valor</th>
                          <th>Ações</th>
                      </tr>
                  </thead>
                  <tbody class="dados-tabela-servico">
                  </tbody>
              </table>

              <template id="linha-falha-template">
                  <tr>
                      <td>
                        <input type="hidden" name="item_id_[{indice}]" value="[{id}]" />
                        <input type="hidden" name="item_ordem_[{indice}]" value="[{ordem}]" />
                        <input type="hidden" name="item_tipo_[{indice}]" value="[{tipo}]" />
                        <input type="hidden" name="item_quantidade_[{indice}]" value="[{quantidade}]" />
                        <input type="hidden" name="item_valor_[{indice}]" value="[{valor}]" />
                        <input type="text" name="item_descricao_[{indice}]" value="[{descricao}]" class="input input-td upper td-descricao" required="true" />
                        <a class="tag is-search search-modal" data-target="{{ url_for('falha.index_ajax') }}">
                          <span class="fa fa-search"></span>&nbsp;
                          </a>
                      </td>
                      <td>
                          <a class="tag is-danger">
                          <span class="fa fa-trash"></span>&nbsp;
                          Remover
                          </a>
                      </td>
                  </tr>
              </template>

              <template id="linha-peca-template">
                  <tr>
                      <td>
                        <input type="hidden" name="item_id_[{indice}]" value="[{id}]" />
                        <input type="hidden" name="item_ordem_[{indice}]" value="[{ordem}]" />
                        <input type="hidden" name="item_tipo_[{indice}]" value="[{tipo}]" />
                        <input type="text" name="item_descricao_[{indice}]" value="[{descricao}]" class="input input-td upper td-descricao" required="true" />
                          <a class="tag is-search search-modal" data-target="{{ url_for('peca.index_ajax') }}">
                          <span class="fa fa-search"></span>&nbsp;
                          </a>
                      </td>
                      <td>
                        <input type="text" name="item_quantidade_[{indice}]" value="[{quantidade}]" class="input input-td td-quantidade" required="true" />
                      </td>
                      <td>
                        <input type="text" name="item_valor_[{indice}]" value="[{valor}]" class="input input-td td-valor" required="true" />
                      </td>
                      <td>
                          <a class="tag is-danger">
                          <span class="fa fa-trash"></span>&nbsp;
                          Remover
                          </a>
                      </td>
                  </tr>
              </template>

              <template id="linha-servico-template">
                  <tr>
                      <td>
                        <input type="hidden" name="item_id_[{indice}]" value="[{id}]" />
                        <input type="hidden" name="item_ordem_[{indice}]" value="[{ordem}]" />
                        <input type="hidden" name="item_tipo_[{indice}]" value="[{tipo}]" />
                        <input type="text" name="item_descricao_[{indice}]" value="[{descricao}]" class="input input-td upper td-descricao" required="true" />
                        <a class="tag is-search search-modal" data-target="{{ url_for('servico.index_ajax') }}">
                          <span class="fa fa-search"></span>&nbsp;
                          </a>
                      </td>
                      <td>
                        <input type="text" name="item_quantidade_[{indice}]" value="[{quantidade}]" class="input input-td td-quantidade" required="true" />
                      </td>
                      <td>
                        <input type="text" name="item_valor_[{indice}]" value="[{valor}]" class="input input-td td-valor" required="true" />
                      </td>
                      <td>
                          <a class="tag is-danger">
                          <span class="fa fa-trash"></span>&nbsp;
                          Remover
                          </a>
                      </td>
                  </tr>
              </template>

              <div class="field">
                  <label class="label" for="valor_total">* Valor Total:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="valor_total" name="valor_total" type="text" value="{{ model['valor_total'] }}" placeholder="Informe o valor total" class="input upper" readonly="readonly" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-success">
                      <i class="fa fa-save"></i>
                      &nbsp;
                      Salvar
                  </button>
                </p>
                <p class="control">
                  <a class="button is-danger" href="{{ url_for('historico.index') }}">
                      <i class="fa fa-window-close"></i>
                      &nbsp;
                      Cancelar
                  </a>
                </p>
              </div>

              {% endif %}
          </form>
      </div>
  </div>

        <template id="modal-template">
          <div id="[{id_modal}]" class="modal is-active">
              <div class="modal-background"></div>
              <div class="modal-card">
                  <header class="modal-card-head">
                      <p class="modal-card-title">[{titulo}]</p>
                      <button class="delete"></button>
                  </header>
                  <section class="modal-card-body">
                      [{ conteudo }]
                  </section>
                  <footer class="modal-card-foot">
                      [{ botoes }]
               </div>
           </div>
        </template>
        <style>
            #falha .options, #peca .options, #servico .options, #modalBusca form{
                display: none;
            }
        </style>
        <script type="text/javascript">
            var SEPARADOR = ' / ';

            var getModelo = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("modelo.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data.nome);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            var getVeiculo = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("veiculo.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            var getCliente = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("cliente.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data.nome);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            var getTecnico = function(id){
                var d1 = $.Deferred();
                if(id !== undefined && id !== ''){
                    $.ajax({
                        url:'{{ url_for("tecnico.ajax_by_id",pk='') }}'+id,
                        method:'get',
                        dataType: 'json'
                    }).done(function(data){
                        d1.resolve(data.nome);
                    }).fail(function(){
                        d1.resolve('');
                    });
                }else{
                    d1.resolve('');
                }
                return d1;
            };
            $("#id_cliente").selectSearch({
                findSearch:function(search, limit, offset){
                    return $.ajax({
                        url : "{{ url_for('cliente.ajax') }}",
                        dataType : "json",
                        data:'nome='+search+'&limit='+limit+'&offset='+(limit * offset)
                    });
                },
                findById:function(id){
                    return $.ajax({
                        url : "{{ url_for('cliente.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    });
                },
                getDescription: function(data){
                    return data.id+'-'+data.nome;
                },
                getValue: function(data){
                    return data.id;
                },
                onChangeValueLoad:true,
                hideField:true
            });

            $("#id_veiculo").selectSearch({
                findSearch:function(search, limit, offset){
                    var d1 = $.Deferred();
                    $.ajax({
                        url : "{{ url_for('veiculo.ajax') }}",
                        dataType : "json",
                        data:'placa='+search+'&limit='+limit+'&offset='+(limit * offset)
                    }).done(function(data){
                        var listaDeferred = [];
                        var max_count = data.length;
                        var count = 0;
                        if(data.length > 0){
                            _.each(data, function(linha){
                                getModelo(linha['id_modelo']).done(function(modelo){
                                    data[count]['modelo'] = modelo;
                                    count++;
                                    if(max_count == count){
                                        d1.resolve(data);
                                    }
                                });
                            });
                        }else{
                            d1.resolve(data);
                        }
                    }).fail(function(){
                        d1.resolve('');
                    });
                    return d1;
                },
                findById:function(id){
                    var d1 = $.Deferred();
                    $.ajax({
                        url : "{{ url_for('veiculo.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    }).done(function(data){
                        getModelo(data.id_modelo).done(function(modelo){
                            data['modelo'] = modelo;
                            d1.resolve(data);
                        });
                    }).fail(function(){
                        d1.resolve('');
                    });
                    return d1;
                },
                getDescription: function(data){
                    return data.id+SEPARADOR+data.placa+SEPARADOR+data.modelo;
                },
                getValue: function(data){
                    return data.id;
                },
                callback:function(obj){
                  var search = obj[0];
                  var data = obj[1];
                  $("#id_cliente").val(data['id_cliente']);
                  $("#id_cliente").trigger('update');
                },
                hideField:true
            });

            $("#id_tecnico").selectSearch({
                findSearch:function(search, limit, offset){
                    return $.ajax({
                        url : "{{ url_for('tecnico.ajax') }}",
                        dataType : "json",
                        data:'nome='+search+'&limit='+limit+'&offset='+(limit * offset)
                    });
                },
                findById:function(id){
                    return $.ajax({
                        url : "{{ url_for('tecnico.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    });
                },
                getDescription: function(data){
                    return data.id+'-'+data.nome;
                },
                getValue: function(data){
                    return data.id;
                },
                hideField:true
            });


            var lista_falha = [];
            var lista_servico = [];
            var lista_peca = [];
            var indice = 0;

            $(document).ready(function(){
              //Setando Javascript dos items
              {% if model['items'] %}
                {%  for linha in model['items']  %}
                  lista_{{ get_tipo( linha['tipo'] ) }}.push(
                    {{linha|tojson|safe}}
                  );
                {% endfor %}
              {% endif %}
              //Final do carregamento dos items

              var get_item = function(tipo){
                if(tipo == 'falha'){
                  tipo = '{{ tipo_falha }}';
                }else if(tipo == 'servico'){
                  tipo = '{{ tipo_servico }}';
                }else if(tipo == 'peca'){
                  tipo = '{{ tipo_peca }}';
                }
                return {
                    "id":"",
                    "id_historico":"",
                    "ordem":"",
                    "tipo": tipo,
                    "descricao":"",
                    "quantidade":"",
                    "valor":"",
                  }
              };

              var gerar_template = function(tipo){
                return _.template( $("#linha-"+tipo+"-template").html() );
              };

              var carregar_linha = function(lista, destino, gen_template){
                var retorno = $.Deferred();
                var html_builder = '';
                var max = lista.length;
                var cont = 0;
                var resolve_template = $.Deferred();
                _.each(lista, function(linha){
                  linha['indice'] = indice
                  html_builder += gen_template(linha);
                  indice++;
                  cont++;
                  if(cont == max){
                    resolve_template.resolve();
                  }
                });
                resolve_template.done(function(){
                  $(destino).append(html_builder);
                  $("#items").val(indice);
                  retorno.resolve();
                });
                return retorno;
              }

              var carregar_falhas = function(lista){
                var destino = '.dados-tabela-falha';
                var template = gerar_template('falha');
                carregar_linha(lista, destino, template);
              };
              var carregar_servicos = function(lista){
                var destino = '.dados-tabela-servico';
                var template = gerar_template('servico');
                carregar_linha(lista, destino, template);
              };
              var carregar_pecas = function(lista){
                var destino = '.dados-tabela-peca';
                var template = gerar_template('peca');
                carregar_linha(lista, destino, template);
              };
              var get_carregar = function(tipo){
                if(tipo == 'falha'){
                  return carregar_falhas;
                }else if(tipo == 'servico'){
                  return carregar_servicos;
                }else if(tipo == 'peca'){
                  return carregar_pecas;
                }
              };

              carregar_falhas(lista_falha);
              carregar_servicos(lista_servico);
              carregar_pecas(lista_peca);

              $(document).on('click', ".is-danger",function(e){
                $(this).closest('tr').remove();
                atualizar_valor_total();
              });
              $(document).on('click', ".is-info",function(e){
                var tipo = $(this).data('target');
                var carregar = get_carregar(tipo);
                carregar([  get_item(tipo) ]);
              });

              // Atualizando o Valor Total
              var atualizar_valor_total = function(){
                var valor_total = 0;
                var iterate = $("table tbody tr").each(function(){
                  var $tr = $(this);
                  var quantidade = parseFloat( $tr.find('[name*="quantidade"]').val() );
                  if(!quantidade){
                    quantidade = 1;
                  }
                  var valor = parseFloat( $tr.find('[name*="valor"]').val() );
                  if(valor){
                    valor_total += (quantidade * valor);
                  }
                });
                $.when(iterate).done(function(){
                  $("#valor_total").val(valor_total);
                });
              };
              $(document).on('change', "table tbody td input",function(e){
                atualizar_valor_total();
              });
            });


            //Criação dos Modais
            var modal = function(link, callback){
              var template = _.template($("#modal-template").html());
              var id_modal = 'modalBusca';
              var _id_modal = '#'+id_modal;
              $.ajax({
                    url:link,
                    method:'get',
                }).done(function(data){
                var dados_modal = {
                  'id_modal': id_modal,
                  'titulo':'Busca',
                  'conteudo':data,
                  'botoes':''
                };
                $.when( $("body").append( template(dados_modal) ) ).done(function(){
                    $(_id_modal).on('click','.delete, .modal-background', function (e) {
                      $(_id_modal).remove();
                    });
                    var e = {
                        target: _id_modal
                    };
                    callback(e);
                });
              });
            };

            var isMobile = $.isMobile();
            //Evento de busca do modal
            $(document).on('click','.search-modal',function(){
              var link = $(this).data('target');
              var $table_tr = $(this).closest('tr');
              modal(link,function(e){
                  var event = isMobile ? 'dbltap' : 'dblclick';
                  $(e.target).on(event,'td',function(ex){
                      var $tr = $(ex.target).closest('tr');
                      var $thead_tr = $(ex.target).closest('table').find('thead tr');
                      var dados = {};
                      $tr.find('td').each(function(index, el){
                        var $td = $(this);
                        var key = $thead_tr.children()[index].innerHTML.trim().toLowerCase();
                        dados[key] = $td.html();
                      });
                      $table_tr.trigger('update-by-modal',dados);

                      $(e.target).remove();
                    });
              });
            });


            //Evento ao atualizar linhas por modal
            $(document).on('update-by-modal','#falhas tr',function(e, dados){
              var $tr = $(this);
              $tr.find('[name*="descricao"]').val(dados['descrição']);
            });

            $(document).on('update-by-modal','#servicos tr',function(e, dados){
              var $tr = $(this);
              $tr.find('[name*="valor"]').val(dados['valor']);
              $tr.find('[name*="valor"]').change();
              $tr.find('[name*="descricao"]').val(dados['descrição']);
            });


            $(document).on('update-by-modal','#pecas tr',function(e, dados){
              var $tr = $(this);
              $tr.find('[name*="valor"]').val(dados['valor']);
              $tr.find('[name*="valor"]').change();
              $tr.find('[name*="descricao"]').val(dados['descrição']);
            });

            $(document).ready(function(){
              jQuery.validator.addClassRules('td-descricao', {
                  required: true,
                  maxlength: 75
              });
              jQuery.validator.addClassRules('td-valor', {
                  required: true,
                  number:true,
              });
              jQuery.validator.addClassRules('td-quantidade', {
                  required: true,
                  number:true
              });
              $("form").validate( {
                ignore: "",
                rules: {
                  id_veiculo: {
                    required:true,
                    number:true
                  },
                  id_cliente: {
                    required:true,
                    number:true
                  },
                  id_tecnico: {
                    required: false,
                    number: true
                  },
                  kilometragem: {
                    required: true,
                    number: true
                  },
                  data: {
                    required: true,
                    time:true
                  },
                  tipo: {
                    required: true,
                  },
                  observacao:{
                    maxlength:500
                  }
                },
                errorPlacement: PADRAO.errorPlacement,
                highlight: PADRAO.highlight,
                unhighlight: PADRAO.unhighlight
              });
            });

        </script>
{% endblock %}
