{% extends 'layout.html' %}
{% block title %}Cadastro de Clientes{% endblock %}
{% block content %}
<div class="hero ">
    <div class="hero-body">
        <h1 class="title">Cadastro de Clientes</h1>
        <h2 class="subtitle">
            Os campos sinalizados com asterisco (*) são obrigatórios.
        </h2>

        <form method="post">


            {% if mensagem %}
            <div class="notification is-{{tipo_mensagem}}">
                <button class="delete"></button>
                {{mensagem}}
            </div>
            {% else %}

            <div class="field">
                <label class="label" for="nome">* Nome do cliente:</label>
                <p class="control has-icon has-icon-right">
                    <input id="nome" name="nome" type="text" value="{{ model['nome'] }}" placeholder="Informe o nome" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="rg"> RG:</label>
                <p class="control has-icon has-icon-right">
                    <input id="rg" name="rg" type="text" value="{{ model['rg'] }}" placeholder="Informe o rg" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="cpf"> CPF:</label>
                <p class="control has-icon has-icon-right">
                    <input id="cpf" name="cpf" type="text" value="{{ model['cpf'] }}" placeholder="Informe o cpf" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="endereco"> Endereço:</label>
                <p class="control has-icon has-icon-right">
                    <input id="endereco" name="endereco" type="text" value="{{ model['endereco'] }}" placeholder="Informe o endereço" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="complemento"> Complemento:</label>
                <p class="control has-icon has-icon-right">
                    <input id="complemento" name="complemento" type="text" value="{{ model['complemento'] }}" placeholder="Informe o complemento" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="bairro"> Bairro:</label>
                <p class="control has-icon has-icon-right">
                    <input id="bairro" name="bairro" type="text" value="{{ model['bairro'] }}" placeholder="Informe o bairro" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="cidade"> Cidade:</label>
                <p class="control has-icon has-icon-right">
                    <input id="cidade" name="cidade" type="text" value="{{ model['cidade'] }}" placeholder="Informe a cidade" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="cep"> CEP:</label>
                <p class="control has-icon has-icon-right">
                    <input id="cep" name="cep" type="text" value="{{ model['cep'] }}" placeholder="Informe o cep" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="estado"> Estado:</label>
                <p class="control has-icon has-icon-right">
                    <input id="estado" name="estado" type="text" value="{{ model['estado'] }}" placeholder="Informe o estado" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="pais"> País:</label>
                <p class="control has-icon has-icon-right">
                    <input id="pais" name="pais" type="text" value="{{ model['pais'] }}" placeholder="Informe o país" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="telefone">* Telefone:</label>
                <p class="control has-icon has-icon-right">
                    <input id="telefone" name="telefone" type="text" value="{{ model['telefone'] }}" placeholder="Informe o telefone" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="fax"> Fax:</label>
                <p class="control has-icon has-icon-right">
                    <input id="fax" name="fax" type="text" value="{{ model['fax'] }}" placeholder="Informe o fax" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="celular"> Celular:</label>
                <p class="control has-icon has-icon-right">
                    <input id="celular" name="celular" type="text" value="{{ model['celular'] }}" placeholder="Informe o celular" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="telefone_comercial"> Telefone comercial:</label>
                <p class="control has-icon has-icon-right">
                    <input id="telefone_comercial" name="telefone_comercial" type="text" value="{{ model['telefone_comercial'] }}" placeholder="Informe o telefone comercial" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="fax_comercial"> Fax comercial:</label>
                <p class="control has-icon has-icon-right">
                    <input id="fax_comercial" name="fax_comercial" type="text" value="{{ model['fax_comercial'] }}" placeholder="Informe o fax comercial" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="email"> E-mail:</label>
                <p class="control has-icon has-icon-right">
                    <input id="email" name="email" type="text" value="{{ model['email'] }}" placeholder="Informe o e-mail" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="bip"> BIP:</label>
                <p class="control has-icon has-icon-right">
                    <input id="bip" name="bip" type="text" value="{{ model['bip'] }}" placeholder="Informe o bip" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

            <div class="field">
                <label class="label" for="data_nascimento"> Data Nascimento:</label>
                <p class="control has-icon has-icon-right">
                    <input id="data_nascimento" name="data_nascimento" type="datetime-local" value="{{ model['data_nascimento'] }}" placeholder="Informe a data de nascimento" class="input upper" />
                    <span class="icon is-small">
                        <i class="fa fa-check"></i>
                    </span>
                </p>
                <p class="help"></p>
            </div>

              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-success">
                      <i class="fa fa-save"></i>
                      &nbsp;
                      Salvar
                  </button>
                </p>
                <p class="control">
                  <a class="button is-danger" href="{{ url_for('cliente.index') }}">
                      <i class="fa fa-window-close"></i>
                      &nbsp;
                      Cancelar
                  </a>
                </p>
              </div>

              {% endif %}
          </form>
      </div>
  </div>
        <script type="text/javascript">
          $(document).ready(function(){
            $("form").validate( {
              ignore: "",
              rules: {
                'nome':{
                  required:true,
                  maxlength:60
                },
                'rg':{
                  maxlength:16
                },
                'cpf':{
                  maxlength:19
                },
                'endereco':{
                  maxlength:50
                },
                'complemento':{
                  maxlength:30
                },
                'bairro':{
                  maxlength:30
                },
                'cidade':{
                  maxlength:30
                },
                'cep':{
                  maxlength:9
                },
                'estado':{
                  maxlength:2
                },
                'pais':{
                  maxlength:20
                },
                'telefone':{
                  required:true,
                  maxlength:20
                },
                'fax':{
                  maxlength:20
                },
                'celular':{
                  maxlength:20
                },
                'telefone_comercial':{
                  maxlength:20
                },
                'fax_comercial':{
                  maxlength:20
                },
                'email':{
                  email:true,
                  maxlength:40
                },
                'bip':{
                  maxlength:30
                },
                'data_nascimento':{
                  time:true
                }
              },
              errorPlacement: PADRAO.errorPlacement,
              highlight: PADRAO.highlight,
              unhighlight: PADRAO.unhighlight
            });
          });
        </script>
{% endblock %}
