DEBUG=false

POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRESQL_SERVICE_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=database

SERVER_SECRET=secret
USER_DEFAULT=admin
PASS_DEFAULT=123

EMAIL_ME=my@mail.com
EMAIL_ME_PASSWORD=mypassword
EMAIL_SMTP=smtp.mail.com
EMAIL_SMTP_PORT=587
EMAIL_YOU=alarm@mail.com