{% extends 'layout.html' %}
{% block title %}Cadastro de Falhas{% endblock %}
{% block content %}
        <form class="form-horizontal" method="post">
            <fieldset>

            <!-- Form Name -->
            <legend>Cadastro de falhas</legend>

            {% if mensagem %}
            <div class="alert alert-{{tipo_mensagem}}" role="alert">{{mensagem}}</div>
            {% else %}

              <!-- Alerta obrigatoriedade -->
              <div class ="alert-info">Os campos sinalizados com asterisco (*) são obrigatórios.
              </div><br><br>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="descricao">* Nome da falha:</label>  
                <div class="col-md-5 input-group">
                    <span class="input-group-addon">
                      <span class="glyphicon">&#xe139;</span>
                    </span>
                    <input id="descricao" name="descricao" type="text" value="{{ model['descricao'] }}" placeholder="Informe a falha" class="form-control input-md upper" />
                </div>
              </div>

                            <!-- Button (Double) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="btnSalvar"></label>
                <div class="col-md-8">
                  <button id="btnSalvar" type="submit" class="btn btn-success">
                  <span class="glyphicon glyphicon-ok"></span>&nbsp;
                  Salvar
                  </button>
                  <a id="btnCancelar" class="btn btn-danger" href="{{ url_for('falha.index') }}">
                  <span class="glyphicon glyphicon-remove"></span>&nbsp;
                  Cancelar
                  </a>
                </div>
              </div>
            {% endif %}
            </fieldset>
        </form>
        <script type="text/javascript">
          $(document).ready(function(){
            $("form").validate( {
              ignore: "",
              rules: {
                'descricao':{
                  required:true,
                  maxlength:60
                }
              },
              errorPlacement: PADRAO.errorPlacement,
              highlight: PADRAO.highlight,
              unhighlight: PADRAO.unhighlight
            });
          });
        </script>
{% endblock %}