{% extends 'layout.html' %}
{% block title %}Cadastro de Lembretes{% endblock %}
{% block content %}
<div class="hero ">
    <div class="hero-body">
        <h1 class="title">Cadastro de Lembretes</h1>
        <h2 class="subtitle">
            Os campos sinalizados com asterisco (*) são obrigatórios.
        </h2>

        <form method="post">


            {% if mensagem %}
            <div class="notification is-{{tipo_mensagem}}">
                <button class="delete"></button>
                {{mensagem}}
            </div>
            {% else %}

              <input type="hidden" name="items" id="items" />

              <div class="field">
                  <label class="label" for="id_veiculo">* Veículo:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="id_veiculo" name="id_veiculo" type="text" value="{{ model['id_veiculo'] }}" placeholder="Informe o veículo" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="id_cliente">* Cliente:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="id_cliente" name="id_cliente" type="text" value="{{ model['id_cliente'] }}" placeholder="Informe o cliente" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="data">* Data:</label>
                  <p class="control has-icon has-icon-right">
                      <input id="data_notificacao" name="data_notificacao" type="datetime-local" value="{{ model['data_notificacao'] }}" placeholder="Informe a data" class="input upper" />
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field">
                  <label class="label" for="texto"> Texto:</label>
                  <p class="control has-icon has-icon-right">
                      <textarea id="texto" name="texto" type="text" placeholder="Informe o conteúdo" class="input upper">{{ model['texto'] }}</textarea>
                      <span class="icon is-small">
                          <i class="fa fa-check"></i>
                      </span>
                  </p>
                  <p class="help"></p>
              </div>

              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-success">
                      <i class="fa fa-save"></i>
                      &nbsp;
                      Salvar
                  </button>
                </p>
                <p class="control">
                  <a class="button is-danger" href="{{ url_for('lembrete.index') }}">
                      <i class="fa fa-window-close"></i>
                      &nbsp;
                      Cancelar
                  </a>
                </p>
              </div>

              {% endif %}
          </form>
      </div>
  </div>

        <script type="text/javascript">
            var SEPARADOR = ' / ';

            var getModelo = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("modelo.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data.nome);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            var getVeiculo = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("veiculo.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            var getCliente = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("cliente.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data.nome);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            $("#id_cliente").selectSearch({
                findSearch:function(search, limit, offset){
                    return $.ajax({
                        url : "{{ url_for('cliente.ajax') }}",
                        dataType : "json",
                        data:'nome='+search+'&limit='+limit+'&offset='+(limit * offset)
                    });
                },
                findById:function(id){
                    return $.ajax({
                        url : "{{ url_for('cliente.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    });
                },
                getDescription: function(data){
                    return data.id+'-'+data.nome;
                },
                getValue: function(data){
                    return data.id;
                },
                onChangeValueLoad:true,
                hideField:true
            });

            $("#id_veiculo").selectSearch({
                findSearch:function(search, limit, offset){
                    var d1 = $.Deferred();
                    $.ajax({
                        url : "{{ url_for('veiculo.ajax') }}",
                        dataType : "json",
                        data:'placa='+search+'&limit='+limit+'&offset='+(limit * offset)
                    }).done(function(data){
                        var listaDeferred = [];
                        var max_count = data.length;
                        var count = 0;
                        if(data.length > 0){
                            _.each(data, function(linha){
                                getModelo(linha['id_modelo']).done(function(modelo){
                                    data[count]['modelo'] = modelo;
                                    count++;
                                    if(max_count == count){
                                        d1.resolve(data);
                                    }
                                });
                            });
                        }else{
                            d1.resolve(data);
                        }
                    }).fail(function(){
                        d1.resolve('');
                    });
                    return d1;
                },
                findById:function(id){
                    var d1 = $.Deferred();
                    $.ajax({
                        url : "{{ url_for('veiculo.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    }).done(function(data){
                        getModelo(data.id_modelo).done(function(modelo){
                            data['modelo'] = modelo;
                            d1.resolve(data);
                        });
                    }).fail(function(){
                        d1.resolve('');
                    });
                    return d1;
                },
                getDescription: function(data){
                    return data.id+SEPARADOR+data.placa+SEPARADOR+data.modelo;
                },
                getValue: function(data){
                    return data.id;
                },
                callback:function(obj){
                  var search = obj[0];
                  var data = obj[1];
                  $("#id_cliente").val(data['id_cliente']);
                  $("#id_cliente").trigger('update');
                },
                hideField:true
            });

            $(document).ready(function(){
              $("form").validate( {
                ignore: "",
                rules: {
                  id_veiculo: {
                    required:true,
                    number:true
                  },
                  id_cliente: {
                    required:true,
                    number:true
                  },
                  data_notificacao: {
                    required: true,
                    time:true
                  },
                  texto: {
                    required: true,
                    maxlength:5000
                  }
                },
                errorPlacement: PADRAO.errorPlacement,
                highlight: PADRAO.highlight,
                unhighlight: PADRAO.unhighlight
              });
            });

        </script>
{% endblock %}
