{% extends 'layout.html' %}
{% block title %}Consulta de Lembretes{% endblock %}
{% block content %}
<div class="hero ">
    <div class="hero-body">
        <h1 class="title">Consulta de Lembretes</h1>
        <form>

                <input type="hidden" id="limit" name="limit" value="10" />
                <input type="hidden" id="offset" name="offset" value="0" />
                <input type="hidden" id="sort_order" name="sort_order" value="0" />
                <input type="hidden" id="sort_direction" name="sort_direction" value="asc" />

                <div class="field">
                    <label class="label" for="id_cliente">Cliente:</label>
                    <p class="control has-icon has-icon-right">
                        <input id="id_cliente" name="id_cliente" type="text" value="{{ model['id_cliente'] }}" placeholder="Informe o cliente" class="input upper" />
                        <span class="icon is-small">
                            <i class="fa fa-check"></i>
                        </span>
                    </p>
                    <p class="help"></p>
                </div>

                <div class="field">
                    <label class="label" for="id_veiculo">Veículo:</label>
                    <p class="control has-icon has-icon-right">
                        <input id="id_veiculo" name="id_veiculo" type="text" value="{{ model['id_veiculo'] }}" placeholder="Informe o veículo" class="input upper" />
                        <span class="icon is-small">
                            <i class="fa fa-check"></i>
                        </span>
                    </p>
                    <p class="help"></p>
                </div>

                <div class="field">
                    <label class="label" for="data">Data:</label>
                    <p class="control has-icon has-icon-right">
                        <input id="data_notificacao" name="data_notificacao" type="date" value="{{ model['data_notificacao'] }}" placeholder="Informe a data" class="input upper" />
                        <span class="icon is-small">
                            <i class="fa fa-check"></i>
                        </span>
                    </p>
                    <p class="help"></p>
                </div>

                <div class="field is-grouped">
                  <p class="control">
                    <button id="btnPesquisar" class="button is-search">
                        <i class="fa fa-search"></i>
                        &nbsp;
                        Pesquisar
                    </button>
                  </p>
                  <p class="control">
                    <a class="button is-info" href="{{ url_for('lembrete.form',pk=None)}}">
                        <i class="fa fa-plus"></i>
                        &nbsp;
                        Inserir
                    </a>
                  </p>
                </div>
            </form>
        <hr />
        <style>
        @media only screen and (max-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {

            #lembrete.responsive-stacked-table.with-mobile-labels td:nth-of-type(1):before {
                content: "Id:";
            }
            #lembrete.responsive-stacked-table.with-mobile-labels td:nth-of-type(2):before {
                content: "Cliente:";
            }
            #lembrete.responsive-stacked-table.with-mobile-labels td:nth-of-type(3):before {
                content: "Veículo / Placa / Modelo:";
            }
            #lembrete.responsive-stacked-table.with-mobile-labels td:nth-of-type(4):before {
                content: "Data:";
            }
            #lembrete.responsive-stacked-table.with-mobile-labels td:nth-of-type(5):before {
                content: "Texto:";
            }
            #lembrete.responsive-stacked-table.with-mobile-labels td:nth-of-type(6):before {
                content: "Ações:";
            }
        }
        </style>
        <table id="lembrete" class="table is-bordered is-striped is-narrow responsive-stacked-table with-mobile-labels">
            <thead>
                <tr>
                    <th class="sortable" data-sort="id">Id</th>
                    <th class="sortable" data-sort="cliente.nome">Cliente</th>
                    <th class="sortable" data-sort="id_veiculo">Veículo / Placa / Modelo</th>
                    <th class="sortable" data-sort="data_notificacao">Data</th>
                    <th class="sortable" data-sort="texto">Texto</th>
                    <th class="options" data-sort="">Ações</th>
                </tr>
            </thead>
            <tbody class="dados-tabela">

            </tbody>
        </table>
        <div class="div-paginacao">
        </div>
    </div>
</div>
        <template id="linha-template">
            <tr>
                <td>[{id}]</td>
                <td>[{cliente}]</td>
                <td>[{veiculo}]</td>
                <td>
                    <input id="data_notificacao" name="data_notificacao" type="datetime-local" placeholder="Informe a data" class="input" value="[{data_notificacao}]" readonly="readonly" />
                </td>
                <td>[{texto}]</td>
                <td class="options">
                    <a class="tag is-warning" href="{{url_for('lembrete.form')}}[{id}]">
                    <span class="fa fa-edit"></span>&nbsp;
                    Editar
                    </a>
                    <a class="tag is-danger" href="#" data-target="{{url_for('lembrete.delete',pk='')}}[{id}]">
                    <span class="fa fa-trash"></span>&nbsp;
                    Excluir
                    </a>
                </td>
            </tr>
        </template>
        <script type="text/javascript">
            var limit = 10;
            var offset = 0;

            var SEPARADOR = ' / ';

            var getModelo = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("modelo.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data.nome);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            var getVeiculo = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("veiculo.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            var getCliente = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("cliente.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data.nome);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            var carregarDados = function(){
                var dados = $('form').serialize();
                var COLUNAS = {"COLUNAS":9};
                var loading_tpl = _.template( $("#loading").html() );
                $('.dados-tabela').html(loading_tpl(COLUNAS));

                var d_count = $.ajax({
                    url:'{{ url_for("lembrete.count") }}',
                    data: dados,
                    method:'get',
                    dataType: 'json'
                });
                var d_dados = $.ajax({
                    url:'{{ url_for("lembrete.ajax") }}',
                    data: dados,
                    method:'get',
                    dataType: 'json'
                });
                $.when(d_count,d_dados).then(function(r_count, retorno){
                    //Atualizando paginação
                    var retorno_count = r_count[0];
                    $('.div-paginacao').html('');
                    var template = _.template( $("#paginacao-template").html() );
                    var _count = parseInt(retorno_count['count']);
                    var _offset = parseInt($('#offset').val());
                    var _limit = parseInt($('#limit').val());
                    var _max_page = _count /_limit;
                    _max_page = parseInt(_count % _limit != 0)? _max_page + 1: _max_page;
                    retorno_count['prev'] = _offset == 0 ? 'disabled' : '';
                    retorno_count['next'] = (_offset + _limit)  >= _count ? 'disabled' : '';
                    retorno_count['limit'] - _limit;
                    $('.div-paginacao').append( template(retorno_count) );
                    //Fim da paginação

                    //Atualizando Tabela
                    var dados = retorno[0];
                    //$('.dados-tabela').html('');
                    var dados_tabela = document.createElement('tbody');
                    var loaded = $.Deferred();
                    var template = _.template( $("#linha-template").html() );
                    var max_count = dados.length;
                    var count = 0;
                    if(dados.length > 0){
                        var listaLinhas = [];
                        _.each(dados, function(linha){
                            listaLinhas.push({});
                            $.when(getVeiculo(linha['id_veiculo']), getCliente(linha['id_cliente']) )
                            .then(function(veiculo, cliente){
                                getModelo(veiculo['id_modelo']).done(function(modelo){
                                    linha['cliente'] = cliente;
                                    linha['veiculo'] = veiculo.id +SEPARADOR+veiculo.placa+SEPARADOR+modelo;
                                    var html = template(linha);
                                    listaLinhas[dados.indexOf(linha)] = html;
                                    count++;
                                    if(max_count == count){
                                        _.each(listaLinhas,function(linha){
                                            $(dados_tabela).append(linha);
                                        });
                                        loaded.resolve('');
                                    }
                                });
                            });
                        });
                    }else{
                        var template = _.template( $("#nenhum").html() );
                        var html = template(COLUNAS);
                        $(dados_tabela).append(html);
                    }
                    if(max_count == count){
                        loaded.resolve('');
                    }
                    loaded.done(function(){
                        $('.dados-tabela').html( $(dados_tabela).html() );
                    });
                    //Fim da Atualizacao da Tabela

                })
            };

            var eventoExcluir = function(){
                var btn = $(this);
                bootbox.confirm("Deseja excluir esse registro?", function(result) {
                    if(result){
                        $.post(btn.data('target'),function(data){
                            bootbox.alert('Registro excluído com sucesso!');
                            setTimeout(function(){
                                window.location.reload();
                            }, 2000);
                        }).fail(function(e){
                            if(e.responseText){
                                bootbox.alert(e.responseText);
                            }else{
                                bootbox.alert('Erro ao excluir registro!');
                            }
                        });
                    }
                });
            };
            var eventoPage = function(event){
                var target = event.target;
                if($(target).hasClass('disabled')){
                    event.preventDefault();
                }else{
                    var _offset = parseInt( $("#offset").val() );
                    _offset += parseInt( $(target).data('target') );
                    $("#offset").val(_offset);
                    carregarDados();
                }
            };

            $('.sortable').on('click',function(e){
                var $th = $(e.target);
                if($th.prop("tagName") != "TH"){
                    $th = $th.closest('th');
                }
                $th.parent().find('i').remove();
                var sort = $th.data('sort');
                var direction = $("#sort_direction").val();
                if( $("#sort_order").val() == sort){
                    direction = direction == 'asc' ? 'desc' : 'asc';
                    $("#sort_direction").val(direction);
                }
                var iconClass = 'is-pulled-right';
                    iconClass = direction == 'asc' ? iconClass+' '+classSortDesc : iconClass+' '+classSortAsc;
                    $th.html( $th.html() + '<i class="'+iconClass+'"></i>' );
                $("#sort_order").val(sort);
                carregarDados();
            });

            $(document).ready(function(){
                carregarDados();
                $("#btnPesquisar").click(carregarDados);
                $('#lembrete.table').on('click','.is-danger', eventoExcluir);
                $('.div-paginacao').on('click','.pagination a', eventoPage);
            });

            $("#id_cliente").selectSearch({
                findSearch:function(search, limit, offset){
                    return $.ajax({
                        url : "{{ url_for('cliente.ajax') }}",
                        dataType : "json",
                        data:'nome='+search+'&limit='+limit+'&offset='+(limit * offset)
                    });
                },
                findById:function(id){
                    return $.ajax({
                        url : "{{ url_for('cliente.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    });
                },
                getDescription: function(data){
                    return data.id+'-'+data.nome;
                },
                getValue: function(data){
                    return data.id;
                },
                hideField:true
            });

            $("#id_veiculo").selectSearch({
                findSearch:function(search, limit, offset){
                    var d1 = $.Deferred();
                    $.ajax({
                        url : "{{ url_for('veiculo.ajax') }}",
                        dataType : "json",
                        data:'placa='+search+'&limit='+limit+'&offset='+(limit * offset)
                    }).done(function(data){
                        var listaDeferred = [];
                        var max_count = data.length;
                        var count = 0;
                        var indice = 0;
                        if(data.length > 0){
                            _.each(data, function(linha){
                                (function(indice){
                                    getModelo(linha['id_modelo']).done(function(modelo){
                                        data[indice]['modelo'] = modelo;
                                        count++;
                                        if(max_count == count){
                                            d1.resolve(data);
                                        }
                                    });
                                })(indice);
                                indice++;
                            });
                        }else{
                            d1.resolve(data);
                        }
                    }).fail(function(){
                        d1.resolve('');
                    });
                    return d1;
                },
                findById:function(id){
                    var d1 = $.Deferred();
                    $.ajax({
                        url : "{{ url_for('veiculo.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    }).done(function(data){
                        getModelo(data.id_modelo).done(function(modelo){
                            data['modelo'] = modelo;
                            d1.resolve(data);
                        });
                    }).fail(function(){
                        d1.resolve('');
                    });
                    return d1;
                },
                getDescription: function(data){
                    return data.id+SEPARADOR+data.placa+SEPARADOR+data.modelo;
                },
                getValue: function(data){
                    return data.id;
                },
                hideField:true
            });

            $(document).on('keypress',function(e){
                var code = e.keyCode || e.which;
                if(code == 13) { //Enter keycode
                    if(!$(e.target).hasClass('nn-search')){
                        $("#btnPesquisar").click();
                    }
                }
            });
        </script>
{% endblock %}
