{% extends 'layout.html' %}
{% block title %}Cadastro de Peças{% endblock %}
{% block content %}
    <div class="hero ">
        <div class="hero-body">
            <h1 class="title">Cadastro de peças</h1>
            <h2 class="subtitle">
                Os campos sinalizados com asterisco (*) são obrigatórios.
            </h2>

            <form method="post">


                {% if mensagem %}
                <div class="notification is-{{tipo_mensagem}}">
                    <button class="delete"></button>
                    {{mensagem}}
                </div>
                {% else %}

                  <div class="field">
                      <label class="label" for="descricao">* Nome da peça:</label>
                      <p class="control has-icon has-icon-right">
                          <input id="descricao" name="descricao" type="text" value="{{ model['descricao'] }}" placeholder="Informe a peça" class="input upper" />
                          <span class="icon is-small">
                              <i class="fa fa-check"></i>
                          </span>
                      </p>
                      <p class="help"></p>
                  </div>

                  <div class="field">
                      <label class="label" for="valor">* Valor da peça:</label>
                      <p class="control has-icon has-icon-right">
                          <input id="valor" name="valor" type="text" value="{{ model['valor'] }}" placeholder="Informe o valor" class="input" />
                          <span class="icon is-small">
                              <i class="fa fa-check"></i>
                          </span>
                      </p>
                      <p class="help"></p>
                  </div>

                  <div class="field is-grouped">
                    <p class="control">
                      <button class="button is-success">
                          <i class="fa fa-save"></i>
                          &nbsp;
                          Salvar
                      </button>
                    </p>
                    <p class="control">
                      <a class="button is-danger" href="{{ url_for('peca.index') }}">
                          <i class="fa fa-window-close"></i>
                          &nbsp;
                          Cancelar
                      </a>
                    </p>
                  </div>

                  {% endif %}
              </form>
          </div>
      </div>
        <script type="text/javascript">
          $(document).ready(function(){
            $("form").validate( {
              ignore: "",
              rules: {
                'descricao':{
                  required:true,
                  maxlength:60
                },
                'valor':{
                  required:true,
                  number:true
                }
              },
              errorPlacement: PADRAO.errorPlacement,
              highlight: PADRAO.highlight,
              unhighlight: PADRAO.unhighlight
            });
          });
        </script>
{% endblock %}
