{% extends 'layout.html' %}
{% block title %}Consulta de Modelos{% endblock %}
{% block content %}
        <form class="form-horizontal">
            <fieldset>

                <!-- Form Name -->
                <legend>Consulta de Modelos</legend>

                <input type="hidden" id="limit" name="limit" value="10" />
                <input type="hidden" id="offset" name="offset" value="0" />
                <input type="hidden" id="sort_order" name="sort_order" value="0" />
                <input type="hidden" id="sort_direction" name="sort_direction" value="asc" />

                <!-- Search input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="nome">Nome do modelo</label>
                    <div class="col-md-5 input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon">&#xe003;</span>
                        </span>
                        <input id="nome" name="nome" type="search" placeholder="Informe o nome" class="form-control input-md upper" value="{{ model['nome'] }}">
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label" for="id_monta">Montadora</label>
                    <div class="col-md-5 input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon">&#xe003;</span>
                        </span>
                        <input id="id_monta" name="id_monta" type="search" placeholder="Informe a montadora" class="form-control input-md" value="{{ model['id_monta'] }}">
                    </div>
                </div>

                <!-- Button (Double) -->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="btnPesquisar"></label>
                    <div class="col-md-8">
                        <button type="button" id="btnPesquisar" class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;
                        Pesquisar
                        </button>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-info" role="button" href="{{ url_for('modelo.form',pk=None)}}">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp;
                        Inserir
                        </a>
                    </div>
                </div>
            </fieldset>
        </form>
        <hr />
        <table id="modelo" class="table table-bordered table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th class="sortable" data-sort="id">Id</th>
                    <th class="sortable" data-sort="nome">Nome</th>
                    <th class="sortable" data-sort="montadora.nome">Montadora</th>
                    <th class="sortable" data-sort="codvei_ea">Código EA</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody class="dados-tabela">

            </tbody>
        </table>
        <div class="div-paginacao">
        </div>
        <template id="linha-template">
            <tr>
                <td>[{id}]</td>
                <td>[{nome}]</td>
                <td>[{montadora}]</td>
                <td>[{codvei_ea}]</td>
                <td>
                    <a class="btn btn-warning" href="{{url_for('modelo.form')}}[{id}]">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                    Editar
                    </a>
                    <a class="btn btn-danger" href="#" data-target="{{url_for('modelo.delete',pk='')}}[{id}]">
                    <span class="glyphicon glyphicon-trash"></span>&nbsp;
                    Excluir
                    </a>
                </td>
            </tr>
        </template>
        <script type="text/javascript">
            var limit = 10;
            var offset = 0;

            var getMontadora = function(id){
                var d1 = $.Deferred();
                $.ajax({
                    url:'{{ url_for("montadora.ajax_by_id",pk='') }}'+id,
                    method:'get',
                    dataType: 'json'
                }).done(function(data){
                    d1.resolve(data.nome);
                }).fail(function(){
                    d1.resolve('');
                });
                return d1;
            };

            var carregarDados = function(){
                var dados = $('form').serialize();
                var COLUNAS = {"COLUNAS":5};
                var loading_tpl = _.template( $("#loading").html() );
                $('.dados-tabela').html(loading_tpl(COLUNAS));

                var d_count = $.ajax({
                    url:'{{ url_for("modelo.count") }}',
                    data: dados,
                    method:'get',
                    dataType: 'json'
                });
                var d_dados = $.ajax({
                    url:'{{ url_for("modelo.ajax") }}',
                    data: dados,
                    method:'get',
                    dataType: 'json'
                });
                $.when(d_count,d_dados).then(function(r_count, retorno){
                    //Atualizando paginação
                    var retorno_count = r_count[0];
                    $('.div-paginacao').html('');
                    var template = _.template( $("#paginacao-template").html() );
                    var _count = parseInt(retorno_count['count']);
                    var _offset = parseInt($('#offset').val());
                    var _limit = parseInt($('#limit').val());
                    var _max_page = _count /_limit;
                    _max_page = parseInt(_count % _limit != 0)? _max_page + 1: _max_page;
                    retorno_count['prev'] = _offset == 0 ? 'disabled' : '';
                    retorno_count['next'] = (_offset + _limit)  >= _count ? 'disabled' : '';
                    retorno_count['limit'] - _limit;
                    $('.div-paginacao').append( template(retorno_count) );
                    //Fim da paginação

                    //Atualizando Tabela
                    var dados = retorno[0];
                    //$('.dados-tabela').html('');
                    var dados_tabela = document.createElement('tbody');
                    var loaded = $.Deferred();
                    var template = _.template( $("#linha-template").html() );
                    var max_count = dados.length;
                    var count = 0;
                    if(dados.length > 0){
                        var listaLinhas = [];
                        _.each(dados, function(linha){
                            listaLinhas.push({});
                            getMontadora(linha['id_monta']).done(function(montadora){
                                linha['montadora'] = montadora;
                                var html = template(linha);
                                listaLinhas[dados.indexOf(linha)] = html;
                                count++;
                                if(max_count == count){
                                    _.each(listaLinhas,function(linha){
                                        $(dados_tabela).append(linha);
                                    });
                                    loaded.resolve('');
                                }
                            });
                        });
                    }else{
                        var template = _.template( $("#nenhum").html() );
                        var html = template(COLUNAS);
                        $(dados_tabela).append(html);
                    }
                    if(max_count == count){
                        loaded.resolve('');
                    }
                    loaded.done(function(){
                        $('.dados-tabela').html( $(dados_tabela).html() );
                    });
                    //Fim da Atualizacao da Tabela

                })
            };

            var eventoExcluir = function(){
                var btn = $(this);
                bootbox.confirm("Deseja excluir esse registro?", function(result) {
                    if(result){
                        $.post(btn.data('target'),function(data){
                            bootbox.alert('Registro excluído com sucesso!');
                            setTimeout(function(){
                                window.location.reload();
                            }, 2000);
                        }).fail(function(e){
                            if(e.responseText){
                                bootbox.alert(e.responseText);
                            }else{
                                bootbox.alert('Erro ao excluir registro!');
                            }
                        });
                    }
                });
            };
            var eventoPage = function(event){
                var target = event.target;
                if($(target).hasClass('disabled')){
                    event.preventDefault();
                }else{
                    var _offset = parseInt( $("#offset").val() );
                    _offset += parseInt( $(target).data('target') );
                    $("#offset").val(_offset);
                    carregarDados();
                }
            };

            $('.sortable').on('click',function(e){
                var $th = $(e.target);
                if($th.prop("tagName") != "TH"){
                    $th = $th.closest('th');
                }
                $th.parent().find('i').remove();
                var sort = $th.data('sort');
                var direction = $("#sort_direction").val();
                if( $("#sort_order").val() == sort){
                    direction = direction == 'asc' ? 'desc' : 'asc';
                    $("#sort_direction").val(direction);
                }
                var iconClass = 'is-pulled-right';
                    iconClass = direction == 'asc' ? iconClass+' '+classSortDesc : iconClass+' '+classSortAsc;
                    $th.html( $th.html() + '<i class="'+iconClass+'"></i>' );
                $("#sort_order").val(sort);
                carregarDados();
            });

            $(document).ready(function(){
                carregarDados();
                $("#btnPesquisar").click(carregarDados);
                $('#modelo.table').on('click','.is-danger', eventoExcluir);
                $('.div-paginacao').on('click','.pagination a', eventoPage);
            });

            $("#id_monta").selectSearch({
                findSearch:function(search, limit, offset){
                    return $.ajax({
                        url : "{{ url_for('montadora.ajax') }}",
                        dataType : "json",
                        data:'nome='+search+'&limit='+limit+'&offset='+(limit * offset)
                    });
                },
                findById:function(id){
                    return $.ajax({
                        url : "{{ url_for('montadora.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    });
                },
                getDescription: function(data){
                    return data.id+'-'+data.nome;
                },
                getValue: function(data){
                    return data.id;
                },
                hideField:true
            });
            $(document).on('keypress',function(e){
                var code = e.keyCode || e.which;
                if(code == 13) { //Enter keycode
                    if(!$(e.target).hasClass('nn-search')){
                        $("#btnPesquisar").click();
                    }
                }
            });
        </script>
{% endblock %}
