{% extends 'layout.html' %}
{% block title %}Cadastro de Veículos{% endblock %}
{% block content %}
<div class="hero ">
    <div class="hero-body">
        <h1 class="title">Cadastro de veículos</h1>
        <h2 class="subtitle">
            Os campos sinalizados com asterisco (*) são obrigatórios.
        </h2>

        <form method="post">


            {% if mensagem %}
            <div class="notification is-{{tipo_mensagem}}">
                <button class="delete"></button>
                {{mensagem}}
            </div>
            {% else %}

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="id_cliente">* Cliente:</label>
                <div class="col-md-5 input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon">&#xe139;</span>
                  </span>
                  <input id="id_cliente" name="id_cliente" type="text" value="{{ model['id_cliente'] }}" placeholder="Informe o cliente" class="form-control input-md upper" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="id_modelo">* Modelo:</label>
                <div class="col-md-5 input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon">&#xe139;</span>
                  </span>
                  <input id="id_modelo" name="id_modelo" type="text" value="{{ model['id_modelo'] }}" placeholder="Informe o modelo" class="form-control input-md upper" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="placa">* Placa:</label>
                <div class="col-md-5 input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon">&#xe139;</span>
                  </span>
                  <input id="placa" name="placa" type="text" value="{{ model['placa'] }}" placeholder="Informe a placa" class="form-control input-md upper" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="pais"> País:</label>
                <div class="col-md-5 input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon">&#xe139;</span>
                  </span>
                  <input id="pais" name="pais" type="text" value="{{ model['pais'] }}" placeholder="Informe o país" class="form-control input-md upper" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="cor"> Cor:</label>
                <div class="col-md-5 input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon">&#xe139;</span>
                  </span>
                  <input id="cor" name="cor" type="text" value="{{ model['cor'] }}" placeholder="Informe a cor" class="form-control input-md upper" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="combustivel"> Combustível:</label>
                <div class="col-md-5 input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon">&#xe139;</span>
                  </span>
                  <input id="combustivel" name="combustivel" type="text" value="{{ model['combustivel'] }}" placeholder="Informe o combustível" class="form-control input-md upper" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="renavam"> Renavam:</label>
                <div class="col-md-5 input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon">&#xe139;</span>
                  </span>
                  <input id="renavam" name="renavam" type="text" value="{{ model['renavam'] }}" placeholder="Informe o renavam" class="form-control input-md upper" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="chassi"> Chassis:</label>
                <div class="col-md-5 input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon">&#xe139;</span>
                  </span>
                  <input id="chassi" name="chassi" type="text" value="{{ model['chassi'] }}" placeholder="Informe o chassis" class="form-control input-md upper" />
                </div>
              </div>

              <div class="form-group">
                <label class="col-md-4 control-label" for="ano"> Ano:</label>
                <div class="col-md-5 input-group">
                  <span class="input-group-addon">
                    <span class="glyphicon">&#xe139;</span>
                  </span>
                  <input id="ano" name="ano" type="text" value="{{ model['ano'] }}" placeholder="Informe a ano" class="form-control input-md" />
                </div>
              </div>


              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-success">
                      <i class="fa fa-save"></i>
                      &nbsp;
                      Salvar
                  </button>
                </p>
                <p class="control">
                  <a class="button is-danger" href="{{ url_for('veiculo.index') }}">
                      <i class="fa fa-window-close"></i>
                      &nbsp;
                      Cancelar
                  </a>
                </p>
              </div>

              {% endif %}
          </form>
      </div>
  </div>
        <script type="text/javascript">
           $("#id_cliente").selectSearch({
                findSearch:function(search, limit, offset){
                    return $.ajax({
                        url : "{{ url_for('cliente.ajax') }}",
                        dataType : "json",
                        data:'nome='+search+'&limit='+limit+'&offset='+(limit * offset)
                    });
                },
                findById:function(id){
                    return $.ajax({
                        url : "{{ url_for('cliente.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    });
                },
                getDescription: function(data){
                    return data.id+'-'+data.nome;
                },
                getValue: function(data){
                    return data.id;
                },
                hideField:true
            });

            $("#id_modelo").selectSearch({
                findSearch:function(search, limit, offset){
                    return $.ajax({
                        url : "{{ url_for('modelo.ajax') }}",
                        dataType : "json",
                        data:'nome='+search+'&limit='+limit+'&offset='+(limit * offset)
                    });
                },
                findById:function(id){
                    return $.ajax({
                        url : "{{ url_for('modelo.ajax_by_id',pk='') }}"+id,
                        dataType : "json"
                    });
                },
                getDescription: function(data){
                    return data.id+'-'+data.nome;
                },
                getValue: function(data){
                    return data.id;
                },
                hideField:true
            });
          $(document).ready(function(){
            $("form").validate( {
              ignore: "",
              rules: {
                'id_cliente':{
                  required:true
                },
                'id_modelo':{
                  required:true
                },
                'placa':{
                  required:true,
                  maxlength:8,
                },
                'pais':{
                  maxlength:20,
                },
                'cor':{
                  maxlength:20,
                },
                'combustivel':{
                  maxlength:10,
                },
                'renavam':{
                  maxlength:40,
                },
                'chassi':{
                  maxlength:40,
                },
                'ano':{
                  maxlength:4,
                  number:true
                },

              },
              errorPlacement: PADRAO.errorPlacement,
              highlight: PADRAO.highlight,
              unhighlight: PADRAO.unhighlight
            });
          });
        </script>
{% endblock %}
