.nn-dropdown{
    border: 1px #C7E2F1 solid;
    height: 300px;
    width: 300px;
    position: absolute;
    overflow: auto;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    font-size: 14px;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;                
    padding: 19px;
    text-align: left;
    z-index: 1000;
}
.nn-dropdown ul{
    list-style: none;
}
.nn-dropdown ul li{
    width:100%;
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 3px 20px;
    white-space: nowrap;
}
.nn-dropdown ul li:hover{
    background: #3399FF;
    color: #fff;
}
.nn-list {
    height: 200px;
    overflow: auto;
}