{% extends 'base.html' %}
{% block base %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand">Millenium</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li class="dropdown">
              <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#">Falhas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('falha.form',pk=None) }}">Cadastro</a></li>
                <li><a href="{{ url_for('falha.index') }}">Consulta</a></li>
            </ul>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
        <div class="box-template">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for alert_type, message in messages %}
                {% if alert_type in ['info', 'success', 'danger','warning'] %}
                    <div class="alert alert-{{alert_type}} alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}