{% extends 'base.html' %}
{% block base %}
{% include 'templates.html' %}
{% include 'topbar.html' %}
<div class="container is-fluid">
    <div class="columns">
      <div class="column is-2">
          {% include 'menu.html' %}
      </div>
      <div class="column is-10">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              <ul class=flashes>
              {% for alert_type, message in messages %}
                  {% if alert_type in ['info', 'success', 'danger','warning'] %}
                      <div class="notification is-{{alert_type}}">
                        <button class="delete"></button>
                        {{ message }}
                      </div>
                  {% endif %}
              {% endfor %}
              </ul>
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
      </div>
    </div>
</div>

{% endblock %}
