{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block base %}
<section class="hero is-fullheight is-dark is-bold">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4 is-offset-4">
                    {% if mensagem %}
                    <div class="notification is-{{tipo_mensagem}}">
                        <button class="delete"></button>
                        {{mensagem}}
                    </div>
                    {% endif %}
                    <form method="post">
                    <h1 class="title">
                        Login
                    </h1>
                    <div class="box">
                        <label class="label">Login</label>
                        <p class="control">
                            <input class="input upper" type="text" name="usuario">
                        </p>
                        <label class="label">Password</label>
                        <p class="control">
                            <input class="input upper" type="password" name="senha">
                        </p>
                        <hr>
                        <p class="control">
                            <button class="button is-primary" type="submit">Login</button>
                            <button class="button is-default">Cancel</button>
                        </p>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
