<aside class="menu">
    <p>Início</p>
    <ul class="menu-list">
        <li>
            <a href="{{ url_for('index') }}">
                <i class="fa fa-home"></i>
                &nbsp;
                Home
            </a>
        </li>
    </ul>
    <p class="menu-label">
      Preferências
    </p>
    <ul class="menu-list">
        <li>
            <a>
                <i class="fa fa-sticky-note-o"></i>
                &nbsp;
                Lembretes
            </a>
            <ul class="is-hidden">
              <li><a href="{{ url_for('lembrete.form',pk=None) }}">Cadastro</a></li>
              <li><a href="{{ url_for('lembrete.index') }}">Consulta</a></li>
            </ul>
        </li>
      <li>
          <a>
              <i class="fa fa-exclamation-circle"></i>
              &nbsp;
              Falhas
          </a>
          <ul class="is-hidden">
            <li><a href="{{ url_for('falha.form',pk=None) }}">Cadastro</a></li>
            <li><a href="{{ url_for('falha.index') }}">Consulta</a></li>
          </ul>
      </li>
      <li>
          <a>
              <i class="fa fa-cog"></i>
              &nbsp;
              Peças
          </a>
          <ul class="is-hidden">
            <li><a href="{{ url_for('peca.form',pk=None) }}">Cadastro</a></li>
            <li><a href="{{ url_for('peca.index') }}">Consulta</a></li>
          </ul>
      </li>
      <li>
          <a>
              <i class="fa fa-wrench"></i>
              &nbsp;
              Serviços
          </a>
          <ul class="is-hidden">
            <li><a href="{{ url_for('servico.form',pk=None) }}">Cadastro</a></li>
            <li><a href="{{ url_for('servico.index') }}">Consulta</a></li>
          </ul>
      </li>
      <li>
          <a target="_blank" href="{{ url_for('backup') }}">
              <i class="fa fa-database"></i>
              &nbsp;
              Backup
          </a>
      </li>
    </ul>
    <p class="menu-label">
      Gerais
    </p>
    <ul class="menu-list">
      <li>
          <a>
              <i class="fa fa-shopping-cart"></i>
              &nbsp;
              Marcas
          </a>
          <ul class="is-hidden">
            <li>
                <a>Montadoras</a>
                <ul class="is-hidden">
                    <li>
                        <a href="{{ url_for('montadora.form',pk=None) }}">Cadastro</a>
                        <a href="{{ url_for('montadora.index') }}">Consulta</a>
                    </li>
                </ul>
            </li>
            <li>
                <a>Modelos</a>
                <ul class="is-hidden">
                    <li>
                        <a href="{{ url_for('modelo.form',pk=None) }}">Cadastro</a>
                        <a href="{{ url_for('modelo.index') }}">Consulta</a>
                    </li>
                </ul>
            </li>
          </ul>
      </li>
      <li>
          <a class="is-anchor">
              <i class="fa fa-user-md"></i>
              &nbsp;
              Técnicos
          </a>
          <ul class="is-hidden">
            <li><a href="{{ url_for('tecnico.form',pk=None) }}">Cadastro</a></li>
            <li><a href="{{ url_for('tecnico.index') }}">Consulta</a></li>
          </ul>
      </li>
      <li>
          <a class="is-anchor">
              <i class="fa fa-users"></i>
              &nbsp;
              Clientes
          </a>
          <ul class="is-hidden">
            <li><a href="{{ url_for('cliente.form',pk=None) }}">Cadastro</a></li>
            <li><a href="{{ url_for('cliente.index') }}">Consulta</a></li>
          </ul>
      </li>
      <li>
          <a class="is-anchor">
              <i class="fa fa-car"></i>
              &nbsp;
              Veículos
          </a>
          <ul class="is-hidden">
            <li><a href="{{ url_for('veiculo.form',pk=None) }}">Cadastro</a></li>
            <li><a href="{{ url_for('veiculo.index') }}">Consulta</a></li>
          </ul>
      </li>
      <li>
          <a class="is-anchor">
              <i class="fa fa-suitcase"></i>
              &nbsp;
              Históricos
          </a>
          <ul class="is-hidden">
            <li><a href="{{ url_for('historico.form',pk=None) }}">Cadastro</a></li>
            <li><a href="{{ url_for('historico.index') }}">Consulta</a></li>
          </ul>
      </li>
    </ul>
    <p class="menu-label">
      Logoff
    </p>
    <ul class="menu-list">
      <li>
          <a href="{{ url_for('logout') }}">
              <i class="fa fa-lock"></i>
              &nbsp;
              Sair
          </a>
      </li>
    </ul>
</aside>
