<!-- pagination -->
<template id="paginacao-template">
    <nav class="pagination is-centered">
      <a class="pagination-previous [{prev}]" data-target="-[{limit}]">
          <i class="fa fa-arrow-left"></i>
          &nbsp;
          Anterior
      </a>
      <a class="pagination-next [{next}]" data-target="+[{limit}]">
          Próximo
          &nbsp;
          <i class="fa fa-arrow-right"></i>
      </a>
        <ul class="pagination-list">
            <li class="pull-right">Total: [{count}]</li>
        </ul>
    </nav>
</template>
<!-- loading -->
<template id="loading">
    <tr>
        <td colspan="[{COLUNAS}]">
            <div class="columns">
                <button class="button is-fullwidth is-loading">Carregando...
                </button>
            </div>
        </td>
    </tr>
</template>
<!-- nenhum -->
<template id="nenhum">
    <tr>
        <td colspan="[{COLUNAS}]">
            <h4 class="is-fullwidth"> Nenhum resultado encontrado!</h4>
        </td>
    </tr>
</template>
